<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

      <mat-toolbar color="primary"><i class="fas fa-rss-square"></i>Olib-RSS</mat-toolbar>

      <app-sidebar></app-sidebar>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="rss-toolbar" color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        
        <!-- <span class="cursor">
          <a class="nav-link" (click)="openDialog()" >
              UPLOAD <i class="fa fa-unlock"></i>
          </a>
        </span> -->
        &nbsp;
        <span class="logout">
          <a class="nav-link" (click)="logout()" >
              Logout <i class="fa fa-unlock"></i>
          </a>
        </span>

      </mat-toolbar>
  
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  